@import "./theme";
@import "./variables";
@import "./mixins";
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import url("../../../node_modules/bootstrap-icons/font/bootstrap-icons.scss");

* {
  font-family: "Source Code Pro", monospace;
  color: $light;
}

body {
  background-color: $black;
  overscroll-behavior-y: contain;
  scroll-behavior: smooth;
}
